<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Denied</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding ion-text-center">
    <h2>Access Denied!</h2>
    <p>You need to be logged in to access this page</p>
    <ion-button fill="outline" expand="block" [routerLink]="['/login']">Sign In</ion-button>
    <ion-button expand="block" [routerLink]="['/register']">Sign Up</ion-button>
  </div>
</ion-content>
