<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/events"></ion-back-button>
    </ion-buttons>
    <ion-title>New Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #eventForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="floating" color="primary">User</ion-label>
        <ion-select [(ngModel)]="event.userId" #userId="ngModel" name="userId" required>
          <ion-select-option *ngFor="let user of users" [value]="user.id">{{user.firstName + ' ' + user.lastName}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="userId.valid || submitted == false" class="ion-padding-start">
          User required
        </p>
      </ion-text>
      
      <ion-item>
        <ion-label position="floating" color="primary">Comment</ion-label>
        <ion-input [(ngModel)]="event.comment" name="comment" type="text" #comment="ngModel" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="comment.valid || submitted == false" class="ion-padding-start">
          Comment required
        </p>
      </ion-text>
      
      <ion-item>
        <ion-label position="floating" color="primary">Date and Time</ion-label>
        <ion-datetime displayFormat="D MMM YYYY HH:mm" [(ngModel)]="event.time" name="time" type="text" #time="ngModel" required>
        </ion-datetime>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="time.valid || submitted == false" class="ion-padding-start">
          Time is required
        </p>
      </ion-text>
    </ion-list>

    <div class="ion-padding">
      <ion-button (click)="onSubmit(eventForm)" type="submit" expand="block">Create Event</ion-button>
    </div>
  </form>
</ion-content>
