<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!events.length"  style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
      <ion-note>No Events so far</ion-note>
    </ion-row>
  </ion-grid>
  
  <ion-list *ngIf="events.length && users.length">
    <ion-item detail="true" *ngFor="let event of events" [routerLink]="['./detail', event._id]">
      <ion-label>
        <h3>{{ event.comment }}</h3>
        <p>{{ event.time | date: 'MMM d, y, h:mm:ss a' }}</p>
        <strong *ngIf="event.user">By {{ event.user.firstName }}</strong>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/events/create']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
