<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome Home</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Make sure the api server is running at localhost:4000 before trying out the app.</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-item *ngIf="!loggedIn" [routerLink]="['/login']">
      <ion-icon slot="start" color="medium" name="log-in"></ion-icon>
      <ion-label>Sign In</ion-label>
    </ion-item>
    <ion-item *ngIf="!loggedIn" [routerLink]="['/register']">
      <ion-icon slot="start" color="medium" name="person-add"></ion-icon>
      <ion-label>Sign Up</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/events']">
      <ion-icon slot="start" color="medium" name="calendar"></ion-icon>
      <ion-label>View Events</ion-label>
    </ion-item>
    <ion-item *ngIf="loggedIn" [routerLink]="['/events/create']">
      <ion-icon slot="start" color="medium" name="add-circle"></ion-icon>
      <ion-label>Add Event</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
