<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <img src="https://www.gravatar.com/avatar?d=mm&s=140" alt="avatar">
      <ion-list>
        <ion-item><ion-label>Username</ion-label>{{ user.username }}</ion-item>
        <ion-item><ion-label>Email</ion-label>{{ user.email }}</ion-item>
      </ion-list>    
    </ion-card-content>
  </ion-card>
</ion-content>
