<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/events"></ion-back-button>
    </ion-buttons>
    <ion-title>Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="busy"></ion-spinner>
  <ion-card *ngIf="!busy && event">
    <ion-card-content>
      <ion-label>
        <h3>{{ event.comment }}</h3>
        <p>{{ event.time | date: 'MMM d, y, h:mm:ss a' }}</p>
        <strong *ngIf="event.user">By {{ event.user.firstName }}</strong>
      </ion-label>
    </ion-card-content>
    
    <ion-row *ngIf="loggedIn" class="ion-no-padding ion-justify-content-center">
      <ion-col>
        <ion-button fill="clear" size="small" color="primary" [routerLink]="['/events', 'edit', event._id]">
          <ion-icon name="create" slot="start"></ion-icon>
          Edit
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" size="small" color="danger" (click)="onDelEvent(event._id)">
          <ion-icon name="trash" slot="start"></ion-icon>
          Delete
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
