<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="ion-text-center">
      <img class="avatar" src="https://www.gravatar.com/avatar?d=mm&s=140" alt="avatar">
    </div>
    <form #loginForm="ngForm" novalidate>
      <ion-list>
        <ion-item>
          <ion-label position="floating" color="primary">Email</ion-label>
          <ion-input [(ngModel)]="user.email" name="email" type="email" #email="ngModel" required email>
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="email.valid || submitted == false" class="ion-padding-start">
            Email is required
          </p>
        </ion-text>
  
        <ion-item>
          <ion-label position="floating" color="primary">Password</ion-label>
          <ion-input [(ngModel)]="user.password" name="password" type="password" #password="ngModel" required>
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
            Password is required
          </p>
        </ion-text>
      </ion-list>
  
      <div class="ion-padding">
        <ion-button (click)="onLogin(loginForm)" type="submit" expand="block">Login</ion-button>
      </div>
    </form>
  </div>
</ion-content>
